ul.social-netwoek{
  padding: 0;
  list-style: none;
}
ul.social-network li{
  display: inline;
  margin: 0;
  padding: 5px;
}

.fa{
  font-size: 35pt;
  color: #ffffff;
  padding: 10px;
}

.fa-linkedin-square:hover{
  color: #0072b1;
}

.fa-github:hover{
  color: #727272;
}
