.fs-16
{
  font-size: 16pt;
}

a{
  cursor: pointer;
  text-decoration: none;
}

img{
  width: 40px !important;
  height: 40px !important;
}
.navbar{
  position: sticky !important;
}

#navbar-opacidade {
  background-color: rgb(0, 0, 0, 0.8);
}

#corgenflix{
  color: #CC8FEE;
}

form .form-control{
  border-radius: 50px;
}

.dropdown{
  margin-right: 60px;
}
