*{
  margin: 0 auto;
  padding: 0;
}
body{
  background-image: url('.././/../assets/imgs/imagem-fundo-login.jpg');
  display: flex;
  justify-content: center;
  width: 100%;
    /*background: linear-gradient(rgb(195, 137, 237), rgb(127, 94, 247));*/
  background-blend-mode: darken;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}
.card{
  display: flex;
  justify-content: center;
  background-color: #f3f4f7;
}

.card, .card-body{
  /*background: linear-gradient(to right, #AF77D5, #AF77D5);*/
  opacity: 100%;
}

.card .form-control, select{
  /*background: linear-gradient(#e6ceeb, #e6ceeb);*/
  border-radius: 20px;
}

.cartoes img{
  width: 65px;
  cursor: pointer;
  margin-bottom: 15px;
}

.cartoes img:hover{
  transition: .5s ease;
  transform: scale(110%);
}
#cardholdername{
  width: 100%;
  display: block;
}

.cardnumber{

  justify-content: center;
  align-items: center;;
  width: 100%;
  font-weight: 400;
}
#cardnumber{
  width: 95%;
  display: block;
}

.dados-cartao{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3px;
}
.datatexto{
  display: block;
  text-align: center;
  font-size: 12pt;
  margin-bottom: 2px;
}
.cvv{
  display: flex;
  justify-content: center;
  width: 50%;
  margin-left: 5px;
}


.btn{
    border-radius: 50px;
}

.card-body{
  background-color: #f3f4f7;
  width: 500px;
}

.button-confirmar button{
  margin: 5px;
  font-size: 17px;
  font-weight: 400;
  margin-top: 45px;
  letter-spacing: 1px;
  background-color: #7F5EF7;
  border: none;
  color: #fff;
  padding: 13px 20px 12px;
  border-radius: 50px;
  outline: none;
}

.button-confirmar button:hover{
  border: #000 0.1px solid;
  background-color: transparent;
  color: #000;
}
