<body>

  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 rounded-3">
          <div class="card-body p-4 p-sm-5">

            <h5 class="card-title text-center text-dark mb-5 fw-light display-6">Entrar</h5>
            <form>
              <div class="form-floating mb-3 text-muted">
                <input [(ngModel)]='userLogin.login' name="usuario" type="text" class="form-control" id="usuario"
                  placeholder="email@examplo.com">
                <label for="usuario">Email</label>
              </div>

              <div class="form-floating mb-3 text-muted">
                <input [(ngModel)]='userLogin.senha' name="senha" type="password" class="form-control" id="senha"
                  placeholder="Password">
                <label for="usuario">Senha</label>
              </div>

              <div class="button-logar">
                <button (click)='entrar()' type="submit">Login</button>
              </div>

              <p class="login-card-footer-texto text-center">Não tem uma conta? <a
                  routerLink='/cadastrar'>Cadastre-se </a> </p>
            </form>

          </div>
        </div>
      </div>
    </div>




  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </div>
</body>
