<!-- <head>

   <link rel="stylesheet" href="./src/style/owl/owl.carousel.min.css">

</head> -->


<body class="body bg-dark">
  <!-- Menu - Barra de navegação -->

  <!-- /Menu - Barra de navegação -->

  <!-- Grid-->



  <!--jumbotron-->

  <div class="jumbotron bg-dark">
    <div class="jumbofirst">
      <div class="text-light">
        <h3 class="display-8">Mais populares</h3>

      </div>
    </div>
  </div>




  <div class="container-fluid">

    <div>Some tags before</div>
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide><img src="../../assets/imagens-catalogo/joker.jpg"></ng-template>
      <ng-template carouselSlide><img src="../../assets/imagens-catalogo/joker.jpg"></ng-template>
      <ng-template carouselSlide><img src="../../assets/imagens-catalogo/joker.jpg"></ng-template>
    </owl-carousel-o>
    <div>Some tags after</div>



    <div class="carousel">
      <div class="owl-carousel owl-theme">
        <div class="item">
          <div class="thumbnail">
            <img class="box-film" src="../../assets/imagens-catalogo/joker.jpg" alt="Filme 1">

            <div class="overlay">
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title text-light">Coringa</h5>

          </div>
        </div>
        <div class="item">
          <div class="thumbnail">
            <img class="box-film" src="../../assets/imagens-catalogo/joker.jpg" alt="Filme 1">
            <div class="overlay">
            </div>

          </div>
          <div class="card-body">
            <h5 class="card-title text-light">O Farol</h5>

          </div>
        </div>

        <div class="item">
          <div class="thumbnail">
            <img class="box-film" src="../../assets/imagens-catalogo/joker.jpg" alt="Filme 1">
            <div class="overlay">
            </div>

          </div>
          <div class="card-body">
            <h5 class="card-title text-light">Mulher-Maravilha</h5>

          </div>
        </div>

        <div class="item">
          <div class="thumbnail">
            <img class="box-film" src="../../assets/imagens-catalogo/joker.jpg" alt="Filme 1">
            <div class="overlay">
            </div>

          </div>
          <div class="card-body">
            <h5 class="card-title text-light">Ela</h5>

          </div>
        </div>

        <div class="item">
          <div class="thumbnail">
            <img class="box-film" src="../../assets/imagens-catalogo/joker.jpg" alt="Filme 1">
            <div class="overlay">
            </div>

          </div>
          <div class="card-body">
            <h5 class="card-title text-light">Harry Potter e as Relíquias da Morte: Parte II</h5>

          </div>
        </div>


        <!--   <div class="item">
                    <div class="thumbnail">
                        <img class="box-film" src="imagens-catalogo/homem-aranha.jpg">
                        <div class="overlay">

                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-light">Homem-Aranha no Aranhaverso</h5>

                        </div>
                    </div>
                </div> -->

        <div class="item">
          <div class="thumbnail">
            <img class="box-film" src="../../assets/imagens-catalogo/joker.jpg" alt="Filme 1">
            <div class="overlay">
            </div>

          </div>
          <div class="card-body">
            <h5 class="card-title text-light">Batman v Superman</h5>

          </div>
        </div>

        <div class="item">
          <div class="thumbnail">
            <img class="box-film" src="../../assets/imagens-catalogo/joker.jpg" alt="Filme 1">
            <div class="overlay">
            </div>

          </div>
          <div class="card-body">
            <h5 class="card-title text-light">Homem-Aranha no Aranhaverso</h5>

          </div>
        </div>

      </div>





      <div class="jumbotron jumbotron-fluid bg-dark mt-5">
        <div class="container">
          <div class="text-light">
            <h3 class="display-8">Comédia</h3>

          </div>
        </div>
      </div>

      <div class="carousel">
        <div class="owl-carousel owl-theme">
          <div class="item">
            <div class="thumbnail">
              <img class="box-film" src="imagens-catalogo/gente-grande.jpg" alt="Filme 1">

              <div class="overlay">
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title text-light">Gente Grande</h5>

            </div>
          </div>
          <div class="item">
            <div class="thumbnail">
              <img class="box-film" src="imagens-catalogo/anjos-da-lei.jpg" alt="Filme 1">
              <div class="overlay">
              </div>

            </div>
            <div class="card-body">
              <h5 class="card-title text-light">Anjos da Lei</h5>

            </div>
          </div>

          <div class="item">
            <div class="thumbnail">
              <img class="box-film" src="imagens-catalogo/familia-do-bagulho.jpg" alt="Filme 1">
              <div class="overlay">
              </div>

            </div>
            <div class="card-body">
              <h5 class="card-title text-light">Família do Bagulho</h5>

            </div>
          </div>

          <div class="item">
            <div class="thumbnail">
              <img class="box-film" src="imagens-catalogo/hangover-3.jpg" alt="Filme 1">
              <div class="overlay">
              </div>

            </div>
            <div class="card-body">
              <h5 class="card-title text-light">Se Beber, Não Case III</h5>

            </div>
          </div>

          <div class="item">
            <div class="thumbnail">
              <img class="box-film" src="imagens-catalogo/virgem-de-40.jpg" alt="Filme 1">
              <div class="overlay">
              </div>

            </div>
            <div class="card-body">
              <h5 class="card-title text-light">O Virgem de 40 Anos</h5>

            </div>
          </div>


          <div class="item">
            <div class="thumbnail">
              <img class="box-film" src="imagens-catalogo/aot.jpg" alt="Filme 1">
              <div class="overlay">

              </div>
              <div class="card-body">
                <h5 class="card-title text-light">Superbad</h5>

              </div>
            </div>
          </div>

          <div class="item">
            <div class="thumbnail">
              <img class="box-film" src="imagens-catalogo/projeto-x.jpg" alt="Filme 1">
              <div class="overlay">
              </div>

            </div>
            <div class="card-body">
              <h5 class="card-title text-light">Projeto X</h5>

            </div>
          </div>

        </div>






      </div>

















      <!--CATEGORIA-->






      <!--/Cards-->




      <!--/cards-->






    </div>
  </div>


  <!-- /texto e vídeo -->










  <!-- JavaScript-->
  <!-- Primeiro Poppeer depois Bootstrap-->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous">
  </script>



<link rel="stylesheet" href="/node_modules/owl.carousel/dist/assets/owl.carousel.min.css" />



<script src="/node_modules/jquery/dist/jquery.js"></script>
<script src="/node_modules/owl.carousel/dist/owl.carousel.min.js"></script>


</body>
