.fs-54{
  font-size: 34pt;
}

.fs-18{
  font-size: 18pt;
}

#postagens{
  background-color: #202830;
}

body{
  background-color: #202830 !important;
}

.comeco{
  background-color: #202830;
}

.nav{
  padding-top: 20px;
}

.imagem-fundo{
    background-image: url('.././/../assets/imgs/imagem-fundo-login.jpg');
    padding-bottom: 70px;
}
.texto1{
  font-weight: 900;
  font-size: 45pt;
  margin-top: 80px !important;
}
.texto2{
  font-size: 20pt;
  margin-top: 20px;
  font-weight: 600;
}
.imagem-lado{
  margin-top: 20px !important;
}
.container-fluid .card{
  border: #f3f4f7;
  margin-bottom: 20px !important;
}
.card{
  box-shadow: #000 0px 0px 10px;
}
.card .card-body{
  background-color: #495b6d;
  color: #f3f4f7;
}
.card p, small, span{
  color: #f3f4f7 !important;
}

.form-control{
  border-radius: 50px !important;
}

